In [1]:
import yfinance as yf
import pandas as pd

from src import functions as f

%load_ext autoreload
%autoreload 2

In [2]:
f.load_tables('tsm')

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1997-10-09 00:00:00-04:00,5.646040,6.562691,5.646040,6.323565,3.203217,10201979,0.0,0.0
1997-10-10 00:00:00-04:00,7.014374,7.040944,6.363419,6.615830,3.351264,10669148,0.0,0.0
1997-10-13 00:00:00-04:00,6.629115,6.629115,6.443128,6.469698,3.277240,3044363,0.0,0.0
1997-10-14 00:00:00-04:00,6.416558,6.429843,6.031299,6.204002,3.142652,2549907,0.0,0.0
1997-10-15 00:00:00-04:00,5.818742,6.044584,5.805458,6.031299,3.055168,3167153,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-09-05 00:00:00-04:00,161.539993,164.589996,161.050003,163.699997,163.699997,10260600,0.0,0.0
2024-09-06 00:00:00-04:00,164.889999,165.410004,156.009995,156.820007,156.820007,14964400,0.0,0.0
2024-09-09 00:00:00-04:00,160.759995,163.100006,160.250000,162.779999,162.779999,10339000,0.0,0.0
2024-09-10 00:00:00-04:00,162.889999,162.889999,157.690002,162.429993,162.429993,11902800,0.0,0.0
2024-09-11 00:00:00-04:00,163.800003,167.460007,161.429993,167.389999,167.389999,7680990,0.0,0.0

In [3]:
nvda_raw, last_day, nvda_df=f.transform_table(f.load_tables('tsm'))
nvda_df

,Close,std_23days,z_23days,target,mu_23days,month,dow,pct_top_wick,pct_body,pct_bottom_wick,pct_gap_up_down,z_top_30days,z_body_30days,z_bottom_30days,z_gap_30days
Date,,,,,,,,,,,,,,,
1997-11-20 00:00:00-05:00,4.437123,0.434144,-0.478958,2,4.645059,11,3,0.714284,0.142861,0.142856,-0.700006,2.343500,-1.787962,-0.203633,-0.442175
1997-11-21 00:00:00-05:00,4.662965,0.406946,0.116387,1,4.615602,11,4,0.000000,1.000000,0.000000,0.285722,-0.736417,1.191995,-0.852275,0.548158
1997-11-24 00:00:00-05:00,4.556686,0.406514,-0.127879,2,4.608670,11,0,0.100003,0.899997,0.000000,-1.133337,-0.322581,0.835701,-0.818939,-0.816143
1997-11-25 00:00:00-05:00,4.676250,0.404982,0.141198,1,4.619067,11,1,0.416665,0.583335,0.000000,0.200001,0.985892,-0.268380,-0.763896,0.477965
1997-11-26 00:00:00-05:00,4.596541,0.394538,-0.101015,2,4.636395,11,2,0.142862,0.285709,0.571429,-0.333338,-0.203405,-1.213347,1.890600,-0.065904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-05 00:00:00-04:00,163.699997,6.954923,-0.467420,1,166.950869,9,3,0.251413,0.610172,0.138416,0.135902,0.165216,0.629349,-0.841026,0.342117
2024-09-06 00:00:00-04:00,156.820007,6.039045,-1.741420,2,167.336521,9,4,0.055320,0.858509,0.086171,0.336160,-0.809826,1.651297,-1.034204,0.639574
2024-09-09 00:00:00-04:00,162.779999,5.551451,-0.878658,0,167.657826,9,0,0.112283,0.708772,0.178945,0.419147,-0.529831,0.912598,-0.517411,0.772211
2024-09-10 00:00:00-04:00,162.429993,4.971535,-1.116182,2,167.979130,9,1,0.000000,0.088463,0.911537,0.038597,-1.074257,-1.716729,2.710977,0.145959
2024-09-11 00:00:00-04:00,167.389999,4.917469,-0.144914,2,168.102608,9,2,0.011610,0.595355,0.393036,0.263464,-0.992658,0.467264,0.389410,0.508544

In [4]:
last_day

Close              167.389999
std_23days           4.917469
z_23days            -0.144914
target               2.000000
mu_23days          168.102608
month                9.000000
dow                  2.000000
pct_top_wick         0.011610
pct_body             0.595355
pct_bottom_wick      0.393036
pct_gap_up_down      0.263464
z_top_30days        -0.992658
z_body_30days        0.467264
z_bottom_30days      0.389410
z_gap_30days         0.508544
Name: 2024-09-11 00:00:00-04:00, dtype: float64

In [5]:
report, model, importances = f.train_test_model(nvda_df)
report

/Users/armanichoy/Documents/stock_project/myenv/lib/python3.12/site-packages/xgboost/core.py:158: UserWarning: [10:30:35] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Accuracy: 0.36
Classification Report:               precision    recall  f1-score   support

           0       0.32      0.34      0.33       549
           1       0.37      0.38      0.37       712
           2       0.38      0.35      0.37       763

    accuracy                           0.36      2024
   macro avg       0.36      0.36      0.36      2024
weighted avg       0.36      0.36      0.36      2024

In [6]:
importances

array([0.08368194, 0.07440918, 0.07170776, 0.07047603, 0.06888462,
       0.06239068, 0.06507719, 0.06962707, 0.0721736 , 0.07152082,
       0.07048288, 0.07543363, 0.07353278, 0.07060181], dtype=float32)

In [7]:
nvda_df['target'].value_counts()

target
2    2418
1    2357
0    1969
Name: count, dtype: int64

In [8]:
last_day_ = last_day.drop(['target'])
last_day_

Close              167.389999
std_23days           4.917469
z_23days            -0.144914
mu_23days          168.102608
month                9.000000
dow                  2.000000
pct_top_wick         0.011610
pct_body             0.595355
pct_bottom_wick      0.393036
pct_gap_up_down      0.263464
z_top_30days        -0.992658
z_body_30days        0.467264
z_bottom_30days      0.389410
z_gap_30days         0.508544
Name: 2024-09-11 00:00:00-04:00, dtype: float64

In [9]:
last_day_df = last_day_.to_frame().T
model.predict(last_day_df)[0]

2

In [10]:
model.predict_proba(last_day_df)[0][2]

0.86376435

In [11]:
nvda_df

,Close,std_23days,z_23days,target,mu_23days,month,dow,pct_top_wick,pct_body,pct_bottom_wick,pct_gap_up_down,z_top_30days,z_body_30days,z_bottom_30days,z_gap_30days
Date,,,,,,,,,,,,,,,
1997-11-20 00:00:00-05:00,4.437123,0.434144,-0.478958,2,4.645059,11,3,0.714284,0.142861,0.142856,-0.700006,2.343500,-1.787962,-0.203633,-0.442175
1997-11-21 00:00:00-05:00,4.662965,0.406946,0.116387,1,4.615602,11,4,0.000000,1.000000,0.000000,0.285722,-0.736417,1.191995,-0.852275,0.548158
1997-11-24 00:00:00-05:00,4.556686,0.406514,-0.127879,2,4.608670,11,0,0.100003,0.899997,0.000000,-1.133337,-0.322581,0.835701,-0.818939,-0.816143
1997-11-25 00:00:00-05:00,4.676250,0.404982,0.141198,1,4.619067,11,1,0.416665,0.583335,0.000000,0.200001,0.985892,-0.268380,-0.763896,0.477965
1997-11-26 00:00:00-05:00,4.596541,0.394538,-0.101015,2,4.636395,11,2,0.142862,0.285709,0.571429,-0.333338,-0.203405,-1.213347,1.890600,-0.065904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-05 00:00:00-04:00,163.699997,6.954923,-0.467420,1,166.950869,9,3,0.251413,0.610172,0.138416,0.135902,0.165216,0.629349,-0.841026,0.342117
2024-09-06 00:00:00-04:00,156.820007,6.039045,-1.741420,2,167.336521,9,4,0.055320,0.858509,0.086171,0.336160,-0.809826,1.651297,-1.034204,0.639574
2024-09-09 00:00:00-04:00,162.779999,5.551451,-0.878658,0,167.657826,9,0,0.112283,0.708772,0.178945,0.419147,-0.529831,0.912598,-0.517411,0.772211
2024-09-10 00:00:00-04:00,162.429993,4.971535,-1.116182,2,167.979130,9,1,0.000000,0.088463,0.911537,0.038597,-1.074257,-1.716729,2.710977,0.145959
2024-09-11 00:00:00-04:00,167.389999,4.917469,-0.144914,2,168.102608,9,2,0.011610,0.595355,0.393036,0.263464,-0.992658,0.467264,0.389410,0.508544

In [12]:
nvda_raw

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1997-10-09 00:00:00-04:00,5.646040,6.562691,5.646040,6.323565,3.203217,10201979,0.0,0.0
1997-10-10 00:00:00-04:00,7.014374,7.040944,6.363419,6.615830,3.351264,10669148,0.0,0.0
1997-10-13 00:00:00-04:00,6.629115,6.629115,6.443128,6.469698,3.277240,3044363,0.0,0.0
1997-10-14 00:00:00-04:00,6.416558,6.429843,6.031299,6.204002,3.142652,2549907,0.0,0.0
1997-10-15 00:00:00-04:00,5.818742,6.044584,5.805458,6.031299,3.055168,3167153,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-09-05 00:00:00-04:00,161.539993,164.589996,161.050003,163.699997,163.699997,10260600,0.0,0.0
2024-09-06 00:00:00-04:00,164.889999,165.410004,156.009995,156.820007,156.820007,14964400,0.0,0.0
2024-09-09 00:00:00-04:00,160.759995,163.100006,160.250000,162.779999,162.779999,10339000,0.0,0.0
2024-09-10 00:00:00-04:00,162.889999,162.889999,157.690002,162.429993,162.429993,11902800,0.0,0.0
2024-09-11 00:00:00-04:00,163.800003,167.460007,161.429993,167.389999,167.389999,7680990,0.0,0.0